<div class="frame">
  <header>
    <h1>What&rsquo;s Next</h1>
  </header>
  <ul class="todos">
    {{#each visibleTodos as |todo|}}
      {{todo-form todo=todo}}
    {{/each}}
    {{todo-form}}
  </ul>
</div>