<div class="frame">
  <header>
    <h1>What&rsquo;s Next</h1>
  </header>
  <ul class="todos">
    {{#each this.visibleTodos as |todo|}}
      <TodoForm @todo={{todo}} />
    {{/each}}
    <TodoForm />
  </ul>
</div>